.leaflet-container{
    z-index: 0;
    width: 100vw;
    height: 80vh;
}

.results.active{

    background: white !important;
}

.leaflet-touch .leaflet-bar a{

    width: 100% !important;
    height: 0 !important;
}