.leaflet-container{
    z-index: 0;
    width: 100vw;
    height: 80vh;
}

.results.active{

    background: white !important;
}


  a.leaflet-bar-part.leaflet-bar-part-single{
    height: 0;
  }
*{
    font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}









